@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url('https://fonts.cdnfonts.com/css/anurati');
@import url('https://fonts.cdnfonts.com/css/dune-rise');
@import url('https://fonts.cdnfonts.com/css/azonix');

* {
  box-sizing: border-box !important;
  user-select: none !important;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh !important;
  width: 100% !important;
  display: flex;
  color: white !important;
  background: black !important;
  font-family: "Cormorant Garamond", serif !important;
}

h2 {
  font-size: clamp(1rem, 5vw, 5rem) !important;
  font-weight: 400 !important;
  text-align: center !important;
  letter-spacing: 0.5em !important;
  margin-right: -0.5em !important;
  color: #cccccc !important;
  width: 90vw !important;
  max-width: 1200px !important;
  text-transform: uppercase !important;
}

header {
  position: fixed !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0 5% 0 5% !important;
  width: 100% ;
  z-index: 3 !important;
  /* height: 7em !important; */
  font-family: "Bebas Neue", sans-serif !important;
  /* font-size: clamp(0.66rem, 2vw, 1rem) !important; */
  font-size: 10px;
  /* letter-spacing: 0.5em !important; */
  color: #fff !important;
  text-transform: uppercase !important;
}

.header {
  transform: rotate(-90deg);
  transform-origin: 7vh 7vh 0;
  font-size: 30px;
}

.header-1 {
  font-size: 30px;
  right: 0%;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}

section .outer, section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}

section .bg h2 {
  z-index: 0;
  top: 6vh;
  position: absolute;
}

section .bg .clip-text {
  overflow: hidden;
}

.first .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://images.unsplash.com/photo-1617478755490-e21232a5eeaf?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU1NjM5NA&ixlib=rb-1.2.1&q=75&w=1920);
}

.second .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("https://images.unsplash.com/photo-1617128734662-66da6c1d3505?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzc3NTM3MA&ixlib=rb-1.2.1&q=75&w=1920");
}

.third .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://images.unsplash.com/photo-1617438817509-70e91ad264a5?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDk4Mg&ixlib=rb-1.2.1&q=75&w=1920);
}

.fourth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://images.unsplash.com/photo-1617412327653-c29093585207?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDgzMQ&ixlib=rb-1.2.1&q=75&w=1920);
}

.fifth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(./img/bg3.jpg);
  background-position: 50% 45%;
}

.sixth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(./img/bg1.jpg);
}

.seventh .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(./img/bg2.jpg)
}

h2 * {
  will-change: transform;
  font-family: 'Dune Rise', sans-serif !important;
}

.section-heading {
  top: 0;
}

.loader {
  width: 6em;
  height: 6em;
  top: 50%;
  left: 40%;
  font-size: 10px;
  position: absolute;
  display: flex;
  z-index: 99;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 2s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: " ";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

.loader .face .circle::after {
  display: none;
  visibility: hidden;
  -webkit-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}

.content2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content3 {
  padding-left: 10px;
  margin-top: -50%;
  width: 80vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content3 h1 {
  font-size: 35px;
  font-weight: 900;
  font-family: zian;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Azonix', sans-serif;
}

.content3 p {
  font-size: 20px;
  font-family: 'Anurati', sans-serif;
}

.home-img {
  float: right;
  position: relative;
  /* width: 50vw; */
  height: 100vh;
}

.home-img img {
  position: fixed;
  float: right;
  right: 0;
  top: 50%;
  width: 100vw;
  height: 50vh;
}

.container {
  width: 1000px !important;
  /* height: 1000px; */
  /* top: 20vh; */
  /* left: 28vh; */
  position: relative !important;
  /* display: flex !important; */
  justify-content: center;
  align-items: center;
  font-family: Consolas;
}

.container .card {
  position: relative !important;
  cursor: text !important;
  background-color: transparent !important;
  border: 0px;
}

.container .card .face {
  width: 310px;
  height: 200px;
  transition: 0.5s;
  cursor: auto;
}

.container .card .face.face1 {
  position: relative;
  left: 9vw;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #0969fa;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  z-index: 3;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
  z-index: 3;
}

.container .card .face.face1 .content img {
  max-width: 100px;
  cursor: auto;
  z-index: 4;
}

.container .card .face.face1 .content h3 { 
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  cursor: text;
  z-index: 5;
  text-transform: uppercase !important;
  font-weight: 500;
}

.container .card .face.face2 {
  position: relative;
  left: 9vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0 !important;
  padding: 0 !important;
  /* position: relative; */
  line-height: 1.3em;
  color: #000;
  white-space: pre-wrap !important;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0 !important;
  display:  inline-block !important;
  position: relative !important;
  text-decoration: none;
  font-weight: 900 !important;
  color: #0969fa !important;
  padding: 5px !important;
  text-transform: uppercase !important;
  transition: 0.5s !important;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #333; */
}

.container .card .face.face2 .content a::before {
  content: " ";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #0969fa;
  border-left: 2px solid #0969fa;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.container .card .face.face2 .content a::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #0969fa;
  border-right: 2px solid #0969fa;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.container .card .face.face2 .content a:hover::before {
  width: 100%;
  height: 100%;
}

.container .card .face.face2 .content a:hover::after {
  width: 100%;
  height: 100%;
}

.container .card .face.face2 .content a:hover {
  background-color: #0969fa;
  color: #000 !important;
  box-shadow: 0 0 50px #0969fa;
  transition-delay: 0.2s;
}

.container .card .face.face2 .content a button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  cursor: pointer;
}

.container .mySlides {
  display:none
}

.container .w3-left {
  display: flex;
  position: absolute;
  background-color: #000;
  width: 10vw;
  height: 5vh;
  top: 20vh;
  justify-content: center;
  align-items: center;
  left: 0;
}

.container .w3-right {
  float: right;
  background-color: #000;
  width: 10vw;
  height: 5vh;
  justify-content: center;
  align-items: center;
  right: 0;
  position: absolute;
  top: 20vh;
  display: flex;
}

.navigation {
  position: absolute;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  bottom: 5vh;
}

.navigation ul {
  position: relative;
  display: flex;
  width: 350px;
  padding: 0;
}

.navigation ul li {
  position: relative;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  line-height: 75px;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

.navigation ul li.active a .icon {
  color: #29fd;
  transform: translateY(-8px);
}

.navigation ul li a .text {
  position: absolute;
  opacity: 0;
  font-weight: 600;
  font-size: 0.5em;
  color: #fff;
  transition: 0.5s;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: translateY(0px);
}

.navigation ul li.active a .text {
  transform: translateY(13px);
  opacity: 1;
}

.indicator {
  position: absolute;
  width: 80px;
  height: 70px;
  display: flex;
  transition: 0.5s;
}

.indicator::before {
  content: " ";
  position: absolute;
  bottom: 13px;
  width: 85%;
  height: 14px;
  background: #29fd;
  border-radius: 10px;
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}




.contact-area {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
}

.contact {
  position: relative;
  max-width: 420px;
  padding: 40px 20px;
  overflow: hidden;
  margin: 0 auto;
  top: 15%;
}

.contact-wide {
  display: none;
}

@media (min-width: 1024px) {
  .contact {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.contact main {
  float: left;
  width: 100%;
  position: relative;
}
.contact main {
  border-radius: 5px;
  float: left;
  width: 100%;
  background-color: #eb524a;
}
.contact main .content {
  float: left;
  width: 100%;
  padding: 20px 30px 50px 30px;
  position: relative;
  text-align: center;
}
@media (min-width: 414px) {
  .contact main .content {
    text-align: left;
  }
}
.contact main .content img {
  display: inline-block;
  width: 140px;
  border-radius: 50%;
}
@media (min-width: 414px) {
  .contact main .content img {
    float: left;
    width: 30%;
    margin-right: 10%;
  }
}
.contact main .content aside {
  float: left;
  width: 100%;
  color: #ffffff;
  margin-top: 10px;
}
@media (min-width: 414px) {
  .contact main .content aside {
    width: 60%;
  }
}
.contact main .content aside h1 {
  font-weight: 100;
  font-size: 22px;
  margin-bottom: 10px;
}
.contact main .content aside p {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 160%;
}
.contact main .title {
  float: left;
  width: 100%;
  background-color: #c63535;
  max-height: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}
.contact main .title.active {
  max-height: 100px;
  -webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
}
.contact main .title.active p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-delay: 0.2s;
}
.contact main .title p {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.contact main button {
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: #ffbe44;
  color: #c63535;
  border: 0;
  width: 200px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: -24px;
  margin-right: -100px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-delay: 0.1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
  cursor: pointer;
}
.contact main button span {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  transition-delay: 0.4s;
  display: block;
  width: 200px;
  float: left;
  padding: 15px 0px;
}
.contact main button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.contact main button svg path {
  fill: #c63535;
}
.contact main button.active {
  margin-right: 0;
  right: 20px;
  width: 65px;
  height: 65px;
  margin-bottom: -32.5px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 65px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.contact main button.active span {
  opacity: 0;
  transition-delay: 0s;
  width: 200px;
}
.contact main button.active svg {
  opacity: 1;
  transition-delay: 0.5s;
}
.contact .left {
  float: left;
  width: 40%;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.contact .right {
  float: right;
  width: 40%;
}
.contact nav.active {
  max-height: 600px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.contact nav.active a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.contact nav.active a:nth-of-type(1) {
  transition-delay: 0.5s;
}
.contact nav.active a:nth-of-type(2) {
  transition-delay: 0.7s;
}
.contact nav.active a:nth-of-type(3) {
  transition-delay: 0.9s;
}
.contact nav a {
  float: left;
  width: 100%;
  margin-top: 18px;
  background-color: #ffffff;
  padding: 18px 20px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  position: relative;
}
@media (min-width: 414px) {
  .contact nav a {
    padding: 18px 30px;
  }
}
.contact nav a .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contact nav a .arrow path {
  fill: #e6e6e6;
}
.contact nav a.gmail .icon svg {
  background-color: #d14836;
}

.contact nav a.github .icon svg {
  background-color: #acacac;
  padding: 0;
}
.contact nav a.linkedin .icon svg {
  background-color: #0065a3;
}

.contact nav a.twitter .icon svg {
  background-color: #42aff3;
  padding: 0;
}

.contact nav a.instagram .icon svg {
  /* background-color: #42aff3; */
  padding: 0;
}

.contact nav a.telegram .icon svg {
  background-color: #238aca;
  padding: 0;
}

.contact nav a .icon {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.contact nav a .icon svg {
  width: 100%;
  height: 100%;
  padding: 14px;
}
.contact nav a .icon svg path {
  fill: #ffffff;
}
.contact nav a .content h1 {
  font-size: 20px;
  padding: 0%;
  margin: 0;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.4px;
}
.contact nav a .content span {
  font-size: 14px;
  color: #b3b3b3;
  display: block;
  letter-spacing: 0.4px;
}