@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

* {
  box-sizing: border-box !important;
  user-select: none !important;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh !important;
  min-height: 100vh;
  display: flex;
  color: white !important;
  background: black !important;
  font-family: "Cormorant Garamond", serif !important;
}

h2 {
  font-size: clamp(1rem, 5vw, 5rem) !important;
  font-weight: 400 !important;
  text-align: center !important;
  letter-spacing: 0.5em !important;
  margin-right: -0.5em !important;
  color: #cccccc !important;
  width: 90vw !important;
  max-width: 1200px !important;
  text-transform: uppercase !important;
}

header {
  position: fixed !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0 0 0 5% !important;
  width: 100% !important;
  z-index: 3 !important;
  height: 7em !important;
  font-family: "Bebas Neue", sans-serif !important;
  font-size: clamp(0.66rem, 2vw, 1rem) !important;
  letter-spacing: 0.5em !important;
  color: #fff !important;
  text-transform: uppercase !important;
}

.header {
  transform: rotate(-90deg);
  transform-origin: 15vh 25vh 0;
  font-size: 60px;
}

.header-1 {
  font-size: 30px;
  right: 0%;
}

section {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;
}

section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

section .bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
}

section .bg h2 {
  z-index: 0;
  top: 10vh;
  position: absolute;
}

section .bg .clip-text {
  overflow: hidden;
}

.first .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://images.unsplash.com/photo-1617478755490-e21232a5eeaf?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU1NjM5NA&ixlib=rb-1.2.1&q=75&w=1920);
}

.second .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url("https://images.unsplash.com/photo-1617128734662-66da6c1d3505?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzc3NTM3MA&ixlib=rb-1.2.1&q=75&w=1920");
}

.third .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://images.unsplash.com/photo-1617438817509-70e91ad264a5?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDk4Mg&ixlib=rb-1.2.1&q=75&w=1920);
}

.fourth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(https://images.unsplash.com/photo-1617412327653-c29093585207?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU2MDgzMQ&ixlib=rb-1.2.1&q=75&w=1920);
}

.fifth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(./img/bg3.jpg);
  background-position: 50% 45%;
}

.sixth .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(./img/bg1.jpg);
}

.seventh .bg {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(./img/bg2.jpg)
}

h2 * {
  will-change: transform;
}

.section-heading {
  top: 0;
}

.loader {
  width: 6em;
  height: 6em;
  top: 50%;
  left: 50%;
  font-size: 10px;
  position: absolute;
  display: flex;
  z-index: 99;
  align-items: center;
  justify-content: center;
}

.loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 2s linear infinite;
}

.loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: gold;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0em 0em;
  --deg: -45deg;
  animation-direction: normal;
}

.loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: lime;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0em 0em 0.2em;
  --deg: -135deg;
  animation-direction: reverse;
}

.loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}

.loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: " ";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

.loader .face .circle::after {
  display: none;
  visibility: hidden;
  -webkit-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

@keyframes animate {
  to {
      transform: rotate(1turn);
  }
}

.container {
  width: 1000px !important;
  /* height: 1000px; */
  /* top: 20vh; */
  /* left: 28vh; */
  position: absolute !important;
  display: flex !important;
  justify-content: space-between !important;
  font-family: Consolas;
}

.container .card {
  position: relative !important;
  cursor: text !important;
  background-color: transparent !important;
  border: 0px;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  cursor: auto;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #0969fa;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  z-index: 3;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
  z-index: 3;
}

.container .card .face.face1 .content img {
  max-width: 100px;
  cursor: auto;
  z-index: 4;
}

.container .card .face.face1 .content h3 { 
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  cursor: text;
  z-index: 5;
  text-transform: uppercase !important;
  font-weight: 500;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0 !important;
  padding: 0 !important;
  /* position: relative; */
  line-height: 1.3em;
  color: #000;
  white-space: pre-wrap !important;
}

.container .card .face.face2 .content a {
  margin: 15px 0 0 !important;
  display:  inline-block !important;
  position: relative !important;
  text-decoration: none;
  font-weight: 900 !important;
  color: #0969fa !important;
  padding: 5px !important;
  text-transform: uppercase !important;
  transition: 0.5s !important;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #333; */
}

.container .card .face.face2 .content a::before {
  content: " ";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #0969fa;
  border-left: 2px solid #0969fa;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.container .card .face.face2 .content a::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #0969fa;
  border-right: 2px solid #0969fa;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.container .card .face.face2 .content a:hover::before {
  width: 100%;
  height: 100%;
}

.container .card .face.face2 .content a:hover::after {
  width: 100%;
  height: 100%;
}

.container .card .face.face2 .content a:hover {
  background-color: #0969fa;
  color: #000 !important;
  box-shadow: 0 0 50px #0969fa;
  transition-delay: 0.2s;
}

.container .card .face.face2 .content a button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  cursor: pointer;
}

.navigation {
  position: absolute;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  bottom: 5vh;
}

.navigation ul {
  position: relative;
  display: flex;
  width: 350px;
  padding: 0;
}

.navigation ul li {
  position: relative;
  list-style: none;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  line-height: 75px;
  transition: 0.5s;
  color: rgba(255, 255, 255, 0.5);
}

.navigation ul li.active a .icon {
  color: #29fd;
  transform: translateY(-8px);
}

.navigation ul li a .text {
  position: absolute;
  opacity: 0;
  font-weight: 600;
  font-size: 0.5em;
  color: #fff;
  transition: 0.5s;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transform: translateY(0px);
}

.navigation ul li.active a .text {
  transform: translateY(13px);
  opacity: 1;
}

.indicator {
  position: absolute;
  width: 80px;
  height: 70px;
  display: flex;
  transition: 0.5s;
}

.indicator::before {
  content: " ";
  position: absolute;
  bottom: 13px;
  width: 85%;
  height: 14px;
  background: #29fd;
  border-radius: 10px;
}

.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}

.w3-left, .w3-right {
  display: none;
}

/* Contact Me */

.contact-area {
  display: none;
}

.contact-wide {
  width: 70%;
  /* display: flex; */
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 20%;
  /* height: 100%; */
}

.contact {
  /* background-color: black; */
  border-radius: 1%;
  /* display: flex; */
}

.form {
  float: left;
}

.social {
  float: right;
  right: 0;
}

.contact-wide .contact .title h3 {
  font-size: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wide .form {
  margin: 10px;
  width: 50%;
  margin-left: 30px;
}

.contact-wide #message {
  height: 40vh;
}

a.telegram .icon svg {
  background-color: #238aca;
  padding: 0;
}

.contact-wide .button {
  /* width: 10vw; */
  height: 10vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* top: 50vh; */
  padding: 1em;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 0.1em;
  border-radius: 5%;
  border: none;
  outline: 3px solid;
  outline-color: rgba(71, 126, 232,0.5);
  outline-offset: 0px;
  transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.contact-wide .button:hover {
  color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
  outline-offset: 300px;
}

.contact-wide nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.contact-wide nav.top {
  margin-right: 0%;
}


